.gitignore
.idea
vue-project/node_modules
vue-project/.env.local
vue-project/dist
spring-app/docker-compose.yml
spring-app/.gradle
spring-app/build
.gradle
spring-app/gradle/wrapper/gradle-wrapper.jar
spring-app/gradle/wrapper/gradle-wrapper.properties
spring-app/.env.local
node_modules
vue-project/.env
vue-project/.env.local
