<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.dao.ExerciseMapper">

    <insert id="insert">
        INSERT INTO
          training.exercises(workout_id, name, category, set, repetitions, weight, duration)
        VALUES
          (#{workoutId}, #{name}, #{category}, #{set}, #{repetitions}, #{weight}, #{duration})
    </insert>

    <update id="update" parameterType="com.training.dto.ExerciseDto">
        UPDATE
            training.exercises
        SET
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="duration != null">
                duration = #{duration},
            </if>
            repetitions = #{repetitions}
        WHERE
            id = #{id}
        AND
            workout_id = #{workoutId}
        AND
            set = #{set}
    </update>

    <select id="fetchByWorkoutId" parameterType="int" resultType="com.training.dto.ExerciseDto">
        SELECT
            *
        FROM
            training.exercises
        WHERE
            workout_id = #{id}
        ORDER BY id, set DESC
    </select>

</mapper>