<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.dao.ExerciseMapper">

    <insert id="bulkInsert">
      INSERT INTO
        training.exercises(name, group_id, workout_id, category, set, repetitions, weight, duration)
      VALUES
        <foreach item="exercise" collection="list" separator=",">
          (#{exercise.name}, #{exercise.groupId}, #{exercise.workoutId}, #{exercise.category}, #{exercise.set},
            #{exercise.repetitions}, #{exercise.weight}, #{exercise.duration})
        </foreach>
    </insert>

    <update id="bulkUpdate">
        <foreach item="exercise" collection="list" separator="; ">
        UPDATE
          training.exercises
        SET
            name = #{exercise.name},
            group_id = #{exercise.groupId},
            workout_id = #{exercise.workoutId},
            category = #{exercise.category},
            set = #{exercise.set},
            repetitions = #{exercise.repetitions},
            weight = #{exercise.weight},
            duration = #{exercise.duration}
        WHERE
            id = #{exercise.id}
        </foreach>
    </update>

    <update id="update">
        UPDATE
          training.exercises
        SET
          <if test="weight != null">
            weight = #{weight},
          </if>
          <if test="duration != null">
            duration = #{duration},
          </if>
          repetitions = #{repetitions}
        WHERE
          group_id = #{groupId}
        AND
          set = #{set}
    </update>

    <select id="getLastGroupId" resultType="int">
        SELECT
          COALESCE(MAX(group_id), 10000)
        FROM
          training.exercises
    </select>

    <select id="fetchByWorkoutId" resultType="com.training.dto.ExerciseDto">
        SELECT
          *
        FROM
          training.exercises
        WHERE
            workout_id = #{id}
        ORDER BY
          group_id, set
    </select>

    <select id="fetchGroup" resultType="com.training.dto.ExerciseDto">
        SELECT
          *
        FROM
          training.exercises
        WHERE
          group_id = #{id}
        ORDER BY
          group_id, set
    </select>

    <select id="fetchAll" resultType="com.training.dto.ExerciseDto">
        SELECT
            *
        FROM
            training.exercises
    </select>

    <delete id="deleteOldExercises">
      DELETE FROM
        training.exercises
      WHERE
        workout_id = #{workoutId}
    </delete>

</mapper>