<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.dao.WorkoutMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
          training.workouts(name, description)
        VALUES
          (#{name}, #{description})
    </insert>

    <update id="update">
        UPDATE
          training.workouts
        SET
          name = #{name}, description = #{description}
        WHERE
          id = #{id}
    </update>

    <select id="fetchAll"  resultType="com.training.dto.WorkoutDto">
      SELECT
        *
      FROM
        training.workouts
      ORDER BY
        id, name, description
    </select>

    <select id="fetchById" resultType="com.training.dto.WorkoutDto">
      SELECT
        *
      FROM
        training.workouts
      WHERE
        id = #{id}
      ORDER BY
        id, name, description
    </select>

</mapper>