.gitignore
.idea
.gradle
vue-project/node_modules
vue-project/.env.local
spring-app/docker-compose.yml
spring-app/.gradle
spring-app/build
spring-app/gradle/wrapper/gradle-wrapper.jar
spring-app/gradle/wrapper/gradle-wrapper.properties
spring-app/out