.red {
    background-color: #CC2A49;
}

.yellow {
    background-color: #F99E4C;
}

.orange {
    background-color: #F36F38;
}

.pink {
    background-color: #EF4648;
}

.purple {
    background-color: #582841;
}